
.body-main {
    background-color: antiquewhite;
}

.main-container { 
    background-color: antiquewhite;
    display: flex; 
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
}

.main-title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 48px;
    font-weight: bolder
}

.middle-input {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 20%;
    padding-top: 20px;
}

.middle-input-container {
    display: flex;
    justify-content: center;
}
.middle-container {
    background-color: rgb(249, 243, 236);
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 30px;

}

.mediumtext {
    display: flex;
    justify-content: center;
    padding: 0px;
    margin: 0px;
}

.lower-container {
    background-color: rgb(249, 243, 236);
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
}

.picture-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer-main {
    display: flex;
    justify-content: center;
    background-color: rgb(249, 243, 236);
    color: rgb(0, 0, 0);
    margin-top: 100px;
}

.picture {
    height: 300px;
    width: auto;
    border-radius: 50px;
}

